.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-card {
  display: flex;
  flex-direction: column;
  border: 1px solid gray;
  justify-content: space-between;
  gap: 10px;
}

.filter-fieldset-container {
  background-color: azure;
}
